---
name: Pull Request Requirements

on:
  pull_request:
    branches:
      - main

jobs:
  Changelog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

      - name: Check changelog
        run: python tools/check_changelog.py

  i18nCoverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Check i18n coverage
        id: i18nCoverage
        uses: alexkiro/i18n-coverage@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          translations-path: 'locale/**/LC_MESSAGES/*.po'
