---
name: Build README.md

on:
  push:

jobs:
  readme:
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, '[SKIP]')"
    name: Build README

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Setup Git
        run: |
          git config user.name " PiDroid-B Action New release"
          git config user.email 'pidroid-b@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${{ secrets.AC_GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git checkout "${GITHUB_REF:11}"

      - name: Check i18n coverage
        id: i18nCoverage
        uses: alexkiro/i18n-coverage@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          translations-path: 'locale/**/LC_MESSAGES/*.po'

      - name: Update Readme
        run: |
          # i18n Coverage
          echo "![i18n Coverage](https://img.shields.io/badge/i18n%20Coverage-${{ steps.i18nCoverage.outputs.coverage }}%25-green)" > docs/README_1_BADGE_I18NCOVERAGE.md

          # concat into one file (alphanum order)
          ls -v docs/README_*.md | xargs cat > README.md

          # add all modify files
          git add .
          git commit --amend --no-edit
          git push

