---
name: Build README.md

on:
  push:

jobs:
  readme:
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, '[SKIP]')"
    name: Build README

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Check i18n coverage
        id: i18nCoverage
        uses: alexkiro/i18n-coverage@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          translations-path: 'locale/**/LC_MESSAGES/*.po'

      - name: Update Readme
        run: |
          # i18n Coverage
          echo "![i18n Coverage](https://img.shields.io/badge/i18n%20Coverage-${{ steps.i18nCoverage.outputs.coverage }}%25-green)" > docs/README_1_BADGE_I18NCOVERAGE.md

          # concat into one file (alphanum order)
          ls -v docs/README_*.md | xargs cat > README.md

          # add all modify files
          git add .
          git commit --amend
          git push
