---
name: Build README.md

on:
  push:

jobs:
  readme:
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, '[SKIP]')"
    name: Build README

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Setup Git
        run: |
          git config user.name " PiDroid-B Action New release"
          git config user.email 'pidroid-b@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${{ secrets.AC_GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git checkout "${GITHUB_REF:11}"

      - name: Check i18n coverage
        id: i18nCoverage
        uses: alexkiro/i18n-coverage@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          translations-path: 'locale/**/LC_MESSAGES/*.po'

      - uses: etcdigital/pull-request-changelog@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

#      - name : Update Changelog
#        run: git log --graph --oneline --decorate --date-order --full-history origin/HEAD..HEAD > tmp_changelog.rst

# GITHUB_REF
#      - name : Update Changelog
#        uses: heinrichreimer/github-changelog-generator-action@v2.1.1
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#          output: tmp_changelog.rst

      - name: Update Readme
        run: |
          # i18n Coverage
          echo "![i18n Coverage](https://img.shields.io/badge/i18n%20Coverage-${{ steps.i18nCoverage.outputs.coverage }}%25-green)" > docs/README_1_BADGE_I18NCOVERAGE.md

          # concat into one file (alphanum order)
          ls -v docs/README_*.md | xargs cat > README.md

      - name: Add and commit
        run: |
          # add all modify files
          git add README.md && \
          git add tmp_changelog.rst && \
          git commit -m 'Updated README.md' && \
          echo "push=true" >> $GITHUB_ENV || echo "No changes to README.md"

      - name: Push changes
        if: env.push == 'true'
        run: |
          git push
#          git add README.md && git commit -m 'Updated README.md' && echo "push=true" >> $GITHUB_ENV || echo "No changes to README.md"
#          git commit --amend --no-edit

