---
name: Build

on:
  push:
    branches:
      - main
      - dev
      - test

jobs:
  new_release:
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, '[SKIP]')"
    name: New Release

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Setup env variables
        run: |
          set -x
          echo "SKIPBUMP=FALSE" >> $GITHUB_ENV
          echo "BRANCH=${GITHUB_REF:11}" >> $GITHUB_ENV
          echo "OLD_VERSION=$(awk '/^current_version/{print $3}' .bumpversion.cfg)" >> $GITHUB_ENV
          echo "LAST_TAG=$( git ls-remote --tags | grep -o 'refs/tags/v.*' | sort -Vr | head -1 | grep -o '[^\/]*$' )" >> $GITHUB_ENV

      - name: Setup Git
        run: |
          git config user.name 'PiDroid-B Action New release'
          git config user.email 'pidroid-b@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${{ secrets.AC_GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git checkout "${GITHUB_REF:11}"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install bump2version setuptools wheel
          pip install Babel
          pip install -r docs/requirements.txt

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1
#        with:
#          fail_ci_if_error: true

      - name: Generate base.pot
        run: pybabel extract -o locales/base.pot pidroidbot_discord/

      - name: Upadate catalogs
        run: pybabel update -i locales/base.pot -d locales

      - name: Compile i18n catalogs
        run: pybabel compile -d locales

      - name: Check i18n coverage Source
        id: i18nCoverageSrc
        uses: alexkiro/i18n-coverage@v1.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          translations-path: 'locales/**/LC_MESSAGES/*.po'

      - name: Check i18n coverage Docs
        id: i18nCoverageDoc
        uses: alexkiro/i18n-coverage@v1.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          translations-path: 'docs/locales/**/LC_MESSAGES/*.po'

      - name: Check i18n languages
        run: |
          set -x
          I18N_SRC_COUNT="$( find locales/ -mindepth 1 -maxdepth 1 -type d -exec basename '{}' \; | wc -l )"
          I18N_DOC_COUNT="$( find docs/locales/ -mindepth 1 -maxdepth 1 -type d -exec basename '{}' \; | wc -l )"
          echo "I18N_SRC_COUNT=${I18N_SRC_COUNT}" >> $GITHUB_ENV
          echo "I18N_DOC_COUNT=${I18N_DOC_COUNT}" >> $GITHUB_ENV

      - name: Create json's files for bages i18n
        env:
          SRC_NB: ${{ env.I18N_SRC_COUNT }}
          DOC_NB: ${{ env.I18N_DOC_COUNT }}
        run: |
          # i18n Coverage
          SRC_PCT="$(printf "%.1f" "${{ steps.i18nCoverageSrc.outputs.coverage }}")"
          DOC_PCT="$(printf "%.1f" "${{ steps.i18nCoverageDoc.outputs.coverage }}")"
          # add default language
          ((SRC_NB++))
          ((DOC_NB++))

          echo "{ \"schemaVersion\": 1, \"label\": \"i18n Bot\", \"message\": \"${SRC_NB} | ${SRC_PCT} %\", \"color\": \"blueviolet\" }" > .ci/badges/i18n_appcov.json
          echo "{ \"schemaVersion\": 1, \"label\": \"i18n Documentation\", \"message\": \"${DOC_NB} | ${DOC_PCT} %\", \"color\": \"blueviolet\" }" > .ci/badges/i18n_doccov.json

          git add .
#      - name: Update Readme
#        run: |
#          # i18n Coverage
#          SRC="$(printf "%.1f" "${{ steps.i18nCoverageSrc.outputs.coverage }}")"
#          # DOC="$(printf "%.1f" "${{ steps.i18nCoverageDoc.outputs.coverage }}")"
#
#          echo "![i18n Coverage](https://img.shields.io/badge/i18n%20Coverage-${SRC}%25-green)" > docs/README_1_BADGE_I18NCOVERAGE.md
#          # echo "![i18n Coverage Docs](https://img.shields.io/badge/i18n%20Coverage%20Docs-${DOC}%25-green)" > docs/README_5_BADGE_I18NCOVERAGEDOCS.md
#
#          # concat into one file (alphanum order)
#          ls -v docs/README_*.md | xargs cat > README.md
#          cp README.md docs/source/README.md
#
#          # add all modify files
#          git add .

      - name: Bump Major Version
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          bump2version major --allow-dirty
          echo "SKIPBUMP=TRUE" >> $GITHUB_ENV
        if: "startsWith(github.event.head_commit.message, '[MAJOR]') && env.BRANCH == 'main'"

      - name: Bump Minor Version
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          bump2version minor --allow-dirty
          echo "SKIPBUMP=TRUE" >> $GITHUB_ENV
        if: "startsWith(github.event.head_commit.message, '[FEATURE]') && env.BRANCH == 'main'"

      # Default action
      - name: Bump Patch Version
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          bump2version patch --allow-dirty
        if: "env.SKIPBUMP == 'FALSE' && env.BRANCH == 'main'"

      # Other branch
      - name: Bump Branch Version
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
          BRANCH: ${{ env.BRANCH }}
          OLD_VERSION: ${{ env.OLD_VERSION }}
        run: |
          INC=0
          echo "INFO > old_version:${OLD_VERSION} branch:${BRANCH}"

          # check if vars are not empty
          #   and if current version contains name of the branch
          # then INC=1
          [[ "${#BRANCH}" -gt 0 ]] && \
          [[ "${#OLD_VERSION}" -gt 0 ]] && \
          [[ ${OLD_VERSION^^} == *"${BRANCH^^}"* ]] && \
          INC=1

          if [[ $INC -eq 0 ]]; then
              echo "INFO > Create new version ${OLD_VERSION}.${BRANCH,,}_0"
              bump2version build --allow-dirty --new-version "${OLD_VERSION}.${BRANCH,,}_0"
          else
              echo "INFO > version ++"
              bump2version build --allow-dirty
          fi
        shell: bash
        if: "env.BRANCH != 'main'"

      - name: Push Version to Env
        run: |
          set -x
          echo "NEW_VERSION=$(awk '/^current_version/{print $3}' .bumpversion.cfg)" >> $GITHUB_ENV
#        if: "env.BRANCH == 'main'"

      - name: Generate changelog
        env:
          LAST_TAG: ${{ env.LAST_TAG }}
          NEW_VERSION: ${{ env.NEW_VERSION }}
        run: |
          sudo apt-get install ruby-full
          sudo gem install github_changelog_generator
          echo "INFO > Last tag : $LAST_TAG, new version : $NEW_VERSION"
          github_changelog_generator --future-release "v${NEW_VERSION}" --token "${{ secrets.GITHUB_TOKEN }}" --since-tag "$LAST_TAG" -o docs/CHANGELOG.md
          github_changelog_generator --future-release "v${NEW_VERSION}" --token "${{ secrets.GITHUB_TOKEN }}"

      - name: Commit version
        run: |
          git add .
          git commit -m "[SKIP] version bump v${{ env.OLD_VERSION }} -> v${{ env.NEW_VERSION }}"
          git push

      - name: Create tag and release (only on main)
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
          gh release create "v${{ env.NEW_VERSION }}" -t "Release v${{ env.NEW_VERSION }}" -F docs/CHANGELOG.md
        if: "env.BRANCH == 'main'"

  docs:
    runs-on: ubuntu-latest
    container: debian:buster-slim
    name: Documentations
    needs: new_release

    steps:

    - name: Prereqs
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        apt-get update
        apt-get install -y git rsync python3-sphinx python3-sphinx-rtd-theme python3-stemmer python3-git python3-pip python3-virtualenv python3-setuptools
        git clone "https://token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git" .
      shell: bash

    - name: Execute script to build our documentation and update pages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: "bash .ci/buildDocs.sh"
      shell: bash

  statics:
    runs-on: ubuntu-latest
    container: debian:buster-slim
    name: Statics
    needs: new_release

    steps:
      - name: Git clone
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          apt-get update
          apt-get install -y git
          git clone "https://token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git" .
        shell: bash

      - name: Check i18n coverage
        id: i18nCoverage
        uses: alexkiro/i18n-coverage@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          translations-path: 'locales/**/LC_MESSAGES/*.po'

#      - name: Check i18n coverage Documentation
#        id: i18nCoverage
#        uses: alexkiro/i18n-coverage@v1.0.1
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#          translations-path: 'docs/locales/**/LC_MESSAGES/*.po'

      - name: Execute script to build Statics (badges etc)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          I18N_APPCOV: ${{ steps.i18nCoverage.outputs.coverage }}
#          I18N_DOCCOV: ${{ steps.i18nCoverageDoc.outputs.coverage }}
        run: "bash .ci/buildStatics.sh"
        shell: bash
